body{
  background-image: url('gaming-pattern.png');
}
.container{
  text-align: center;
  font-family: sans-serif;
}
#head1{
  font-family: Arial;
  text-decoration: underline;
  text-decoration-color: Blue;
}
#fixpicture{
  width: 100%;
  height: 80%;
}
